body {
  height: 100vh;

  --bs-border-color-hover: #86b7fe;
}

#proj-link {
  align-items: baseline;
  border-bottom-left-radius: var(--bs-border-radius);

  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

#svg-controls {
  padding-bottom: 70px; /*Height of the bottom buttons*/
}

aside,
#final-controls {
  width: 350px;
}

.tip {
  color: var(--bs-info);
  cursor: help;
}

#demo-output {
  position: relative;
  overflow: hidden;
}

#demo-output:hover .handle {
  opacity: 1;
}

@keyframes add-handle {
  from {
    opacity: 1;
  }
}

.handle {
  --handle-size: 20px;
  --handle-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

  position: absolute;
  width: var(--handle-size);
  height: var(--handle-size);
  opacity: 0;
  z-index: 10;
  transform: translate(-50%, -50%);
  cursor: grab;
  box-shadow: var(--handle-shadow);

  transition: opacity 300ms, box-shadow 300ms;
  animation: add-handle 1000ms 1000ms backwards;
}
.handle:active {
  cursor: grabbing;
}
.handle:focus {
  box-shadow: var(--handle-shadow), 0 0 0 var(--bs-focus-ring-width) var(--bs-focus-ring-color);
}

/*===========================
MODALS
===========================*/
.modal {
  --bs-modal-width: 600px !important;
}

dialog {
  padding: 0;
  border: none;
  background-color: transparent;
}

dialog::backdrop {
  background-color: #000;
  opacity: 0.5;
}

dialog .form-control-sm {
  font-size: calc(var(--bs-body-font-size) * 0.75);
}

/*===========================
FORMS
===========================*/
.form-control-wrapper {
  margin-bottom: 1rem;
  position: relative;
}

.form-control-wrapper output {
  font-family: var(--bs-font-monospace);
}

.form-control,
.form-select,
.form-check-input:not(:checked) {
  background-color: var(--bs-card-cap-bg) !important;
}

.form-control:hover,
.form-select:hover,
.form-check-input:hover {
  border-color: var(--bs-border-color-hover);
}

.form-range:hover::-webkit-slider-thumb,
.form-range:hover::-moz-range-thumb {
  box-shadow: 0 0 0 calc(var(--bs-border-width) * 2) var(--bs-border-color-hover);
}

/*===========================
CARDS
===========================*/
.card > .card-header {
  border-bottom-width: 0;
}

.card-header ~ .card-body {
  border-top: var(--bs-card-border-width) solid var(--bs-card-border-color);
}

.card-header .form-check-input {
  margin-top: 0.1em;
}

/*===========================
BUTTONS
===========================*/
.btn-copy {
  position: absolute;
  right: var(--bs-border-width);
  top: calc(2rem + var(--bs-border-width)); /*line-height + form label bottom margin*/
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.dropup .dropdown-menu.show {
  position: absolute;
  inset: auto auto 0px 0px;
  margin: 0px;
  transform: translate(0px, -40px);
}
