$controls-width: 350px;
$transition-duration: 300ms;
$handle-size: 20px;
$handle-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

body {
  height: 100vh;
  --bs-border-color-hover: #86b7fe;
}

#btn-toggle-controls {
  left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  transition: left $transition-duration;

  .open-icon {
    display: none;
  }

  .controls-open & {
    left: $controls-width;

    .open-icon {
      display: inline;
    }
    .closed-icon {
      display: none;
    }
  }
}

aside,
#final-controls {
  width: $controls-width;
}

aside {
  position: fixed;
  left: 0;
  transform: translateX(-100%);

  transition: transform $transition-duration;

  .controls-open & {
    transform: translateX(0);
  }
}

.tip {
  color: var(--bs-info);
  cursor: help;
  opacity: 0.75;

  &:hover {
    opacity: 1;
  }
}

/*===========================
SVG Output & Handles
===========================*/
#demo-output {
  position: relative;
  overflow: hidden;
  touch-action: none;

  &:hover .handle,
  &:focus .handle {
    opacity: 1;
  }
}

@keyframes add-handle {
  from {
    opacity: 1;
  }
}

.handle {
  position: absolute;
  width: $handle-size;
  height: $handle-size;
  opacity: 0;
  z-index: 10;
  transform: translate(-50%, -50%);
  cursor: grab;
  box-shadow: $handle-shadow;

  transition: opacity $transition-duration, box-shadow $transition-duration;
  animation: add-handle 1000ms 1000ms backwards;

  &:active {
    cursor: grabbing;
  }
  &:focus {
    box-shadow: $handle-shadow, 0 0 0 var(--bs-focus-ring-width) var(--bs-focus-ring-color);
  }
}

/*===========================
FORMS
===========================*/
.form-control-wrapper {
  margin-bottom: 0.5rem;
  position: relative;

  .form-label {
    margin-bottom: 0.25rem;
  }

  output {
    font-family: var(--bs-font-monospace);
  }
}

.form-control,
.form-select,
.form-check-input:not(:checked) {
  background-color: var(--bs-card-cap-bg) !important;
}

.form-control:hover,
.form-select:hover,
.form-check-input:hover {
  border-color: var(--bs-border-color-hover);
}

.form-range:hover::-webkit-slider-thumb,
.form-range:hover::-moz-range-thumb {
  box-shadow: 0 0 0 calc(var(--bs-border-width) * 2) var(--bs-border-color-hover);
}

/*===========================
CARDS
===========================*/

.card-header {
  .card > & {
    border-bottom-width: 0;
  }

  ~ .card-body {
    border-top: var(--bs-card-border-width) solid var(--bs-card-border-color);
  }

  .form-check-input {
    margin-top: 0.1em;
  }
}

/*===========================
BUTTONS
===========================*/
.btn-copy {
  position: absolute;
  right: var(--bs-border-width);
  top: calc(1.75rem + var(--bs-border-width)); /*line-height + form label bottom margin*/
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.dropup .dropdown-menu.show {
  position: absolute;
  inset: auto auto 0px 0px;
  margin: 0px;
  transform: translate(0px, -40px);
}

/*===========================
Larger Screen Overrides
===========================*/

/*Screen must be above the SM width AND at least 500px tall*/
@media screen and (min-height: 500px) and (min-width: 768px) {
  #svg-controls {
    padding-bottom: 92px; /*Height of the bottom buttons*/
  }
  #final-controls {
    position: fixed;
    bottom: 0;
    left: 0;
  }
}

/*Screen is only wider than the SM breakpoint*/
@media screen and (min-width: 768px) {
  aside {
    position: relative;
    transform: none !important;
  }
}
